trigger:
  - master

pool: 'Default'

variables:
  acrName: testacrdev1
  imageName: test-repository
  containerAppName: test-repository
  containerAppEnvName: development
  resourceGroup: test-rg-1
  tag: $(Build.SourceVersion)

stages:

  # ---------------- BUILD ----------------
  - stage: Build
    jobs:
      - job: Build
        steps:
          - task: Docker@2
            inputs:
              command: buildAndPush
              repository: $(imageName)
              dockerfile: Dockerfile
              containerRegistry: MyACRServiceConnection
              tags: |
                $(tag)

  # ---------------- DEPLOY INFRA + APP ----------------
  - stage: Deploy
    dependsOn: Build
    jobs:
      - job: Deploy
        steps:
          - task: AzureCLI@2
            displayName: Deploy Bicep
            inputs:
              azureSubscription: MyAzureServiceConnection
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                az deployment group create \
                  --resource-group $(resourceGroup) \
                  --template-file infra/main.bicep \
                  --parameters \
                      containerAppName=$(containerAppName) \
                      containerAppEnvName=$(containerAppEnvName) \
                      acrName=$(acrName) \
                      imageName=$(imageName) \
                      imageTag=$(tag)