trigger:
  - master

pool: 'Default'

variables:
  imageRepository: 'test-repository'
  dockerfilePath: 'Dockerfile'
  azureContainerRegistryServiceConnection: MyACRServiceConnection
  azureServiceConnection: MyAzureServiceConnection
  containerAppName: 'test-repository'
  resourceGroup: 'test-rg-1'
  arcName: 'testacrdev1'
  tag: $(Build.BuildNumber)
  imageName: test-repository

stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
      - job: Build
        displayName: Build job
        steps:
          - task: Docker@2
            displayName: Build and push an image to container registry
            inputs:
              command: buildAndPush
              repository: $(imageRepository)
              dockerfile: $(dockerfilePath)
              containerRegistry: $(azureContainerRegistryServiceConnection)
              tags: |
                $(tag)

  - stage: Deploy
    displayName: 'Deploy to DEV'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: Deploy
        steps:
          - task: AzureCLI@2
            displayName: Deploy to ACA
            inputs:
              azureSubscription: $(azureServiceConnection)
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                az containerapp update \
                  --name $(containerAppName) \
                  --resource-group $(resourceGroup) \
                  --image $(arcName)/$(imageName):$(tag)